<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Đúng liên kết đến Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Employee Directory</title>
</head>
<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th> <!-- Chỉnh sửa typo từ "Fist Name" thành "First Name" -->
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="tempEmployee : ${employees}">
            <td th:text="${tempEmployee.firstName}"></td>
            <td th:text="${tempEmployee.lastName}"></td>
            <td th:text="${tempEmployee.email}"></td>
        </tr>
        </tbody>

    </table>
</div>

<!-- Đúng liên kết đến Bootstrap JavaScript và jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
